<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IMepDuplexGreeter" />
      </wsDualHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IMepRequestReplyGreeter" />
        <binding name="WSHttpBinding_IMepOneWayGreeter" />
      </wsHttpBinding>
    </bindings>

    <client>
      <endpoint address="http://localhost:8000/greeter/service" binding="wsHttpBinding"
                contract="IMepRequestReplyGreeter" name="WSHttpBinding_IMepRequestReplyGreeter" />
      <endpoint address="http://localhost:8000/greeter/service" binding="wsHttpBinding"
                contract="IMepOneWayGreeter" name="WSHttpBinding_IMepOneWayGreeter" />
      <endpoint address="http://localhost:8000/greeter/service/duplex" binding="wsDualHttpBinding"
                contract="IMepDuplexGreeter" name="WSDualHttpBinding_IMepDuplexGreeter" />
    </client>
  </system.serviceModel>
</configuration>