<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="WcfTest.Service.Contracts.MepGreeter" behaviorConfiguration="GreeterBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/greeter/service"/>
            <!-- run cmd as admin for permissions `netsh http add urlacl url=http://+:8000/greeter/service user=yourlocaluser` -->
          </baseAddresses>
        </host>
        <!-- these endpoints are exposed at the base address provided by host: http://localhost:8000/greeter/service -->
        <endpoint address="" binding="wsHttpBinding" contract="WcfTest.Service.Contracts.IMepRequestReplyGreeter" bindingNamespace="http://fugro.schemas/wcftest/binding"/>
        <endpoint address="" binding="wsHttpBinding" contract="WcfTest.Service.Contracts.IMepOneWayGreeter" bindingNamespace="http://fugro.schemas/wcftest/binding"/>
        <!-- endpoint is exposed at address http://localhost:8000/greeter/service/duplex
        separate endpoint address required, because of different (wsDualHttpBinding) binding object -->
        <endpoint address="duplex" binding="wsDualHttpBinding" contract="WcfTest.Service.Contracts.IMepDuplexGreeter" bindingNamespace="http://fugro.schemas/wcftest/binding"/>
      </service>
    </services>
    
    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="GreeterBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>