<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="WcfTest.Greeter.Service.MepDuplex.GreeterService" behaviorConfiguration="GreeterBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/greeter/duplex"/>
            <!-- run cmd as admin for permissions `netsh http add urlacl url=http://+:8000/greeter/duplex user=yourlocaluser` -->
          </baseAddresses>
        </host>
        <!-- endpoint is exposed at address http://localhost:8000/greeter/duplex -->
        <endpoint address="" binding="wsDualHttpBinding" contract="WcfTest.Greeter.Contracts.Service.MepDuplex.IGreeter" bindingNamespace="http://fugro.schemas/wcftest/binding"/>
      </service>
      <service name="WcfTest.Greeter.Service.MepOneWay.GreeterService" behaviorConfiguration="GreeterBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/greeter/oneway"/>
            <!-- run cmd as admin for permissions `netsh http add urlacl url=http://+:8000/greeter/oneway user=yourlocaluser` -->
          </baseAddresses>
        </host>
        <!-- endpoint is exposed at address http://localhost:8000/greeter/oneway -->
        <endpoint address="" binding="wsHttpBinding" contract="WcfTest.Greeter.Contracts.Service.MepOneWay.IGreeter" bindingNamespace="http://fugro.schemas/wcftest/binding"/>
      </service>
      <service name="WcfTest.Greeter.Service.MepRequestReply.GreeterService" behaviorConfiguration="GreeterBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/greeter/requestreply"/>
            <!-- run cmd as admin for permissions `netsh http add urlacl url=http://+:8000/greeter/requestreply user=yourlocaluser` -->
          </baseAddresses>
        </host>
        <!-- endpoint is exposed at address http://localhost:8000/greeter/requestreply -->
        <endpoint address="" binding="wsHttpBinding" contract="WcfTest.Greeter.Contracts.Service.MepRequestReply.IGreeter" bindingNamespace="http://fugro.schemas/wcftest/binding"/>
      </service>
    </services>

    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="GreeterBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>