<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="MepRequestReplyGreeter" address="http://localhost:8000/greeter/requestreply" binding="wsHttpBinding" contract="WcfTest.Greeter.Contracts.Service.MepRequestReply.IGreeter">
      </endpoint>
      <endpoint name="MepRequestReplyOneWay" address="http://localhost:8000/greeter/oneway" binding="wsHttpBinding" contract="WcfTest.Greeter.Contracts.Service.MepOneWay.IGreeter">
      </endpoint>
      <endpoint name="MepRequestDuplex" address="http://localhost:8000/greeter/duplex" binding="wsDualHttpBinding" contract="WcfTest.Greeter.Contracts.Service.MepDuplex.IGreeter" bindingConfiguration="MepRequestDuplexBinding">
      </endpoint>
    </client>

    <bindings>
      <!-- configure a binding that support duplex communication -->
      <wsDualHttpBinding>
        <binding name="MepRequestDuplexBinding" clientBaseAddress="http://localhost:8000/greeter/callback"/>
        <!-- run cmd as admin for permissions `netsh http add urlacl url=http://+:8000/greeter/callback user=yourlocaluser` -->
      </wsDualHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>